bind = "0.0.0.0:25565"
welcome_message = ""

[forwarding]
method = "MODERN"
secret = "{{ .ForwardingSecret }}"

[boss_bar]
enabled = true
color = "blue"
title = "Tキーでチャットを開いて案内にしたがってください"
health = 1.0
division = 0
