bind = "0.0.0.0:25565"
welcome_message = "<gray>Tキーでチャットを開いて、Discordの {{ .DiscordGuildName }} で /mc link を実行してください。{{ if .DiscordInviteURL }} 招待URL: {{ .DiscordInviteURL }}{{ end }}</gray>"

[forwarding]
method = "MODERN"
secret = "{{ .ForwardingSecret }}"

[boss_bar]
enabled = true
color = "blue"
title = "Tキーでチャットを開いて案内にしたがってください"
health = 1.0
division = 0
