regions:
  spawn_protected:
    min:
      x: -32
      y: {{(index .Worlds .WorldName).RegionMinY}}
      z: -32
    max:
      x: 32
      y: {{(index .Worlds .WorldName).RegionMaxY}}
      z: 32
    members: {}
    owners: {}
    flags:
      build: deny
      block-break: deny
      block-place: deny
      interact: allow
      use: allow
      greeting: '[保護エリア] 建築・破壊はできません'
      farewell: '[保護エリア] 外に出ました。建築・破壊が可能です'
      tnt: deny
      creeper-explosion: deny
      other-explosion: deny
      ghast-fireball: deny
      wither-damage: deny
    type: cuboid
    priority: 10
  clickmobs_allowed:
    min:
      x: -64
      y: {{(index .Worlds .WorldName).RegionMinY}}
      z: -64
    max:
      x: 64
      y: {{(index .Worlds .WorldName).RegionMaxY}}
      z: 64
    members: {}
    owners: {}
    flags:
      passthrough: allow
      greeting: '[ClickMobs許可] Mobを捕獲・解放できます'
      farewell: '[ClickMobs許可] 外に出ました。Mobを捕獲・解放できません'
    type: cuboid
    priority: 5
global:
  flags: {}
