[Unit]
Description=Minecraft server
After=network-online.target

[Service]
Type=simple
User=minecraft
Group=wheel
WorkingDirectory=/minecraft
ExecStart=/usr/bin/java -Xmx6G -Xms6G -jar /minecraft/fabric-server-mc.jar --nogui
ExecStop=/bin/kill -s HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
