[Unit]
Description=Start Minecraft server on schedule
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/root/script/start-mc-server.sh
StandardOutput=file:/var/log/start-mc-server.log
StandardError=file:/var/log/start-mc-server.error.log
