[Unit]
Description=Stop Minecraft server on schedule
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/root/script/stop-mc-server.sh
StandardOutput=file:/var/log/stop-mc-server.log
StandardError=file:/var/log/stop-mc-server.error.log
