portals:
{{- range .WorldItems }}
  gate_{{.Name}}:
    owner: console
    location: mainhall:{{.MainhallGateMinX}},{{.MainhallGateMinY}},{{.MainhallGateZ}}:{{.MainhallGateMaxX}},{{.MainhallGateMaxY}},{{.MainhallGateZ}}
    action-type: multiverse-destination
    action: w:{{.Name}}
    safe-teleport: true
    teleport-non-players: false
    check-destination-safety: {{.MainhallGateSafeDest}}
{{- end }}
{{- range .WorldItems }}
  gate_{{.Name}}_to_mainhall:
    owner: console
    location: {{.Name}}:-1,{{.ReturnGateMinY}},{{.ReturnGateZ}}:1,{{.ReturnGateMaxY}},{{.ReturnGateZ}}
    action-type: multiverse-destination
    action: w:mainhall
    safe-teleport: true
    teleport-non-players: false
    check-destination-safety: true
{{- end }}
