regions:
  spawn_protected:
    min:
      x: -32
      y: -64
      z: -32
    max:
      x: 32
      y: -35
      z: 32
    members: {}
    owners: {}
    flags:
      build: deny
      block-break: deny
      block-place: deny
      interact: allow
      use: allow
      greeting: '[保護エリア] 建築・破壊はできません'
      farewell: '[保護エリア] 外に出ました。建築・破壊が可能です'
      tnt: deny
      creeper-explosion: deny
      other-explosion: deny
      ghast-fireball: deny
      wither-damage: deny
    type: cuboid
    priority: 10
global:
  flags: {}
